header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  position: fixed;
  align-items: center;
}
.logo {
  color: MediumAquamarine;
}
nav {
  display: inline;
}
.large {
  border: 2px solid black;
  width: 630px;
  align-items: horizontal;
}
.medium {
  width: 300px;
  border: 2px solid black;
}
.small {
  width: 240px;
  border: 2px solid black;
}
.narrative {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.story {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
.lead-story {
  font-size: 40px;
  font-family: Georgia;
  font-weight: bold;
  color: white;
}
.img-content {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");

}
.fall-img {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");

}
.camera-img {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");

}
.cat-img {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");

}
.bite {
  border: 1px 0px;
  font-size: 12px;
  background-color: WhiteSmoke;
  font-family: Verdana;
  color: DimGray;
}
.news-bites {
  font-size: 16px;
  font-weight: bold;
}
