header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}
.logo {
  color: MediumAquamarine;
}
ul {
  list-style-type: none;
}
nav {
  display: inline-block;
}
.column {
  flex-direction: column;
  display: inline;
  align-content: center;
  justify-content: flex-start;
}
.column.large {
  border: 2px solid black;
  width: 630px;
}
.column.medium {
  width: 300px;
  border: 2px solid black;
}
.column.small {
  width: 240px;
  border: 2px solid black;
}
p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.headline {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
