header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}
.logo {
  color: MediumAquamarine;
}
ul {
  list-style-type: none;
}
nav {
  display: inline-block;
}
.column.large {
  border: 2px solid black;
  width: 630px;
}
.column.medium {
  width: 300px;
  border: 2px solid black;
}
.column.small {
  width: 240px;
  border: 2px solid black;
}
p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.headline {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
.img-content {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");

}
.fall-img {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");

}
.camera-img {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");

}
.cat-img {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
  
}
